body, p, li, ul, nav, header, footer, h1, h2, h3 {
  margin:0;
  padding:0;
  font-family: "Special Elite", serif;
}

/*  ========= HEADER ======= */
#header {
  display: flex;
  justify-content: space-between;
  height: 10em;
  width: 95%;
  margin: 1em auto;
}
#logo{
  height: 100%;
  max-width:15%;
}
#header ul{
  list-style: none;
  color: #282828;
  display: flex;
  flex-direction: row;
}
.social{
  height: 35%;
}
#socialIcons{
  display: flex;
  justify-content: flex-end;
}
#hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero h1{
  font-size: 4em;
  font-family: "Merriweather", serif;
  font-weight: 100;
  color: #9F691C;

}

#hero p{
  font-size: 2em;
  padding-top: 0.5em;
}
/*   ======== SPLASH ============ */

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 80vw;
  padding-top: 2em;
  margin: 0 auto;
  font-size: 1.5em;
}

nav a{
  text-decoration: none;
  color: #282828;
}
nav a:hover {
  color:#9F691C;
}

#potomac {
width: 100vw;
}

/*  ========= MY BOOKS ============= */
  /* ----------- My Books Header -------- */
  #subheader{
    height: 7em;
    margin: 0.5em auto;
    display: flex;
    width: 96%;
  }
  #logoSmall{
    height: 100%;
  }
  #subheads {
    list-style: none;
    padding-top: 1em;
    font-size: 1.5em;
    width: 80%;
    display: flex;
    justify-content: flex-start;
  }

  #subheads a {
    text-decoration: none;
    color: #4d4d4d;
    padding-left: 1.5em;
  }
  #subheads a:hover {
    color: #9F691C;
  }

#socialIcons2 {
  display: flex;
  justify-content: flex-start;
}
.social2 {
  height: 50%;
  padding-top: 0.5em;
}
/* ---- MY BOOKS MAIN ------ */

#myTitles{
  display: flex;
  align-items: center;
  position:relative;
  overflow: hidden;
  height: 50vh;
}

#bookCovers img {
  border: 3px solid #383427;
  height: 35vh;
  box-shadow: 5px 5px 2.5px #585443;
}

#bookCovers{
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
#parchment{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  opacity: 0.5;
}

    /*------- Buy Books & Inscribe ----- */
#bookBox {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3em;
  padding-top: 2em;
}

#buyBooks {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 50%;
}
#buyOne{
  display: flex;
  align-items: center;
  width: 80%;
}
#buyOne p{

}
#buyBooks p, blockquote{
  font-family: 'Merriweather', Arial, sans-serif;
  text-align: center;
}
#buyBooks p{
  color: #4C6289;
  font-size: 1.5em;
}
#buyBooks blockquote{
  font-size: 1.5em;
}
#buyBooks a{
  text-decoration: none;
  color: #EC7823;
}
#indie {
  font-style: italic;
  font-size: 1em !important;
}
#inscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #578229;
  border-radius: 10px;
  max-width: 40%;
  text-align: center;
  padding: 1em 0;
  margin-bottom: 2em;
}
#inscribe h2 {
  font-size: 1.6em;
}


/* ======  BLOG ====== */
embed{
  width: 80%;
  height: 70vh;
  border: 3px solid gray;
}
#blogLink{
  display: flex;
  justify-content: center;
  margin: 2em 0;
}
#blogDesc {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  font-size: 1.7em;
}
#FS {
  font-style: italic;
  font-weight: bolder;
}

/* ======== SPEAKING ======== */
#speakerText{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

#speaker {
  display: flex;
}

#speakerText h1{
  font-family: 'Times New Roman'; /*'Merriweather', serif;*/
  font-weight: 300;
  color: #FAB02D;
  font-size: 2.25em;
  margin-top: 1em;

}
#speakerText p{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.25em;
  margin-top: 2em;
  color: #4E6052;
}
#speakerText p:first-letter {
  float: left;
  color: #FAB02D;
  font-size: 75px;
  line-height: 60px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Merriweather', serif;
  }
  #speakerText a{
    text-decoration: none;
    color: #FAB02D;
  }

  /*  ======= CONTACT ======= */


#contact {
  background-color: rgba(198, 157, 101, 0.5);
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 70vh;
}

#contact div, textarea, input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 32em;
  min-width: 20em;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #ccc;
}

.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
.row.header {
  padding: 1.5em 2.5em;
  border-bottom: 1px solid #ccc;
  background: url(assets/PotomacBckg.jpg) left -80px;
  color: #fff;
}
.row.body {
  padding: .5em 2.5em 1em;
}

.pull-right {
  float: right;
}

#contact h1 {
  font-family: 'Special Elite', serif;
  font-weight: 300;
  display: inline-block;
  font-weight: 100;
  font-size: 2.8125em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}

#contact h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  margin: 1em 0 0.4em 0;
}

#contact .btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
#contact .btn:hover {
  background-color: #bfbfbf;
}
#contact .btn.btn-submit {
  background-color: #4f6fad;
  border-bottom-color: #374d78;
}
#contact .btn.btn-submit:hover {
  background-color: #5f7db6;
}

#contact form {
  max-width: 100%;
  display: block;
}
#contact form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#contact form ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}
#contact form ul li:last-child {
  margin: 0;
}
#contact form ul li p {
  margin: 0;
  padding: 0;
  float: left;
}
#contact form ul li p.right {
  float: right;
}
#contact form ul li .divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4E6052;
}
#contact form ul li .req {
  color: #ee9cb4;
}
#contact form label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 1em;
}
#contact form input {
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #555;
  font-size: 1em;
}
#contact form textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  color: #555;
}
#contact form small {
  color: #4f6fad;
  margin: 0 0 0 0.5em;
}

/*@media only screen and (max-width: 480px) {
  .pull-right {
    float: none;
  }

  input {
    width: 100%;
  }

  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

  li, p {
    width: 100%;
  }

  input.btn {
    margin: 1.5em 0 0.5em;
  }

  h1 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.125em;
  }

  li small {
    display: none;
  }
} */
